@import "tailwindcss";

/* Tailwind v4 custom fonts setup */
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

html, body {
  font-family: var(--font-poppins);
  scroll-behavior: smooth;
}

/* Sirf H1 aur H2 headings par Roboto apply hoga */
h1, h2 {
  font-family: var(--font-roboto);
}

/* Gradient Utility */
@utility gradient {
  background: linear-gradient(-45deg, #302b63, #0bf8ea, #1cd8d2);
}